    /* ------------------- General --------------------- */
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        background-color: #141414;
    }
    
    .hidden {
        display: none!important;
    }
    
    .bold {
        font-weight: 800;
    }
    /* ------------------- Login --------------------- */
    
    .login {
        width: 1083px;
        height: 660px;
        margin: 180px auto 184px;
        display: flex;
    }
    /* ---------------- form ----------------- */
    
    .form-container {
        height: 660px;
        width: 630px;
        background-color: #303030;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }
    
    .form-container form {
        margin: 34px auto;
    }
    
    .form-container h1 {
        font-size: 45px;
        letter-spacing: 2.8px;
        line-height: 61.28px;
        text-align: center;
    }
    /* ---------------- Inputs ----------------- */
    
    .login-input {
        background-color: transparent;
        border: none;
        border-left: 1px solid #979797;
        font-size: 14px;
        line-height: 19px;
        color: #979797;
        height: 50px;
        width: 278px;
        padding-left: 20px;
        position: absolute;
    }
    
    .login-input-container {
        width: 330px;
        height: 52px;
        margin-top: 25px;
        margin-bottom: 32px;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
    }
    
    .login-input-container:focus-within,
    .login-input:focus {
        border-color: #FFFFFF;
        color: #FFFFFF;
        outline: none;
    }
    
    .login-input-container:active,
    .login-input:active {
        border-color: #FFFFFF;
        color: #FFFFFF;
        outline: none;
    }
    
    .login-error-message {
        color: #E07979;
        font-size: 14px;
        line-height: 19px;
        position: absolute;
        bottom: -26px;
        left: 0;
    }
    
    .error {
        border-color: #E07979;
        color: #E07979;
    }
    
    .error svg path {
        fill: #E07979;
    }
    
    .login-input-container svg {
        margin: 16px 15px 0 16px;
        width: 20px;
    }
    
    #login-key-icon {
        margin-top: 22px;
    }
    
    .login-show-password,
    .login-hide-password {
        width: 20px;
        position: absolute;
        cursor: pointer;
        right: 14px;
        top: 20px;
    }
    
    .login-chbox-button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 47px;
    }
    
    .chbox {
        display: flex;
        align-items: center;
    }
    
    #rememberMe {
        appearance: none;
        background-color: transparent;
        border: 1px solid #979797;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        display: inline-block;
        position: relative;
    }
    
    #rememberMe:checked {
        background: #7CD235 url(img/Vector.svg) no-repeat center;
        border: none;
    }
    
    #rememberMe:focus {
        outline: none;
        border-color: #FFFFFF;
    }
    
    .chbox label {
        font-size: 14px;
        line-height: 19px;
        color: #979797;
        padding-left: 10px;
        padding-top: 2px;
        justify-content: center;
    }
    /* ---------------- Login button ----------------- */
    
    .btn {
        width: 100px;
        height: 40px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 8px;
        border: none;
        box-shadow: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        transition: all 0s;
    }
    
    .btn:hover {
        background: #7CD235 100%;
        color: #FFFFFF;
    }
    
    .btn:active {
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border: none;
        outline: none!important;
    }
    
    .btn:focus {
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border: 1px solid #FFFFFF;
        outline: none!important;
    }
    /* ---------------- Registration Links ----------------- */
    
    .login-register-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    
    .login-register-links a,
    .login-register-links a:visited {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .login-register-links a:hover {
        color: #7CD235;
    }
    
    .login-register-links a:active {
        color: #2BB34F;
    }
    /* ---------------- Division Line ----------------- */
    
    .login-division {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    
    .login-division p {
        margin: 0;
        width: 61px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .division-line {
        width: 134px;
        height: 9px;
        border-bottom: 1px solid #FFFFFF;
    }
    /* ---------------- API Links ----------------- */
    
    .login-api-container {
        border: none;
        border-radius: 8px;
        box-sizing: border-box;
        height: 40px;
        width: 240px;
        margin-top: 20px;
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .facebook-container {
        background-color: #263C68;
    }
    
    .twitter-container {
        background-color: #00ACED;
    }
    
    .google-container {
        background-color: #C7C7C7;
    }
    
    .login-api-link,
    .login-api-link:hover {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFFFFF;
        border-radius: 0 8px 8px 0;
        box-sizing: border-box;
        height: 40px;
        width: 190px;
        padding: 13px 13px 10px 8px;
    }
    
    .facebook-link {
        background-color: #3B5998;
    }
    
    .twitter-link {
        background-color: #0695CB;
    }
    
    .google-link {
        background-color: #9D9D9D;
    }
    
    .api-icon img {
        padding: 11px 13px 11px 13px;
    }
    /* ---------------- Login side image & carrousel ----------------- */
    
    .divCarousel {
        position: relative;
    }
    
    .divCarousel figure img {
        height: 660px;
        border-radius: 0 10px 10px 0;
    }
    
    #ulCarousel {
        margin: 0;
        padding: 0;
        width: 453px;
        position: absolute;
        left: 187px;
        bottom: 48px;
    }
    
    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        background-color: #FFFFFF;
        opacity: 30%;
        border-radius: 50%;
        margin: 0 4px;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active,
    .dot:hover {
        background-color: #FFFFFF;
    }
    /* .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    } */
    /* ---------------- Snackbars ----------------------------- */
    
    .snackbar {
        width: 630px;
        height: 40px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        position: absolute;
        top: -500px;
        left: 225px;
        transition: all 0.5s;
    }
    
    .snackbar p {
        margin: 0;
        padding: 0;
    }
    
    .snackbar img {
        width: 16px;
        cursor: pointer;
    }
    
    #snackbar-success {
        background-color: #88DA44;
    }
    
    #snackbar-alert {
        background-color: #EDAE74;
    }
    
    #snackbar-error {
        background-color: #ED7474;
    }
    /* ---------------- Login responsive breakpoints ----------------- */
    
    @media screen and (max-width:1024px) {
        .login {
            width: 100%;
            height: 1024px;
            margin: 0;
            background-color: #303030;
        }
        #login-body {
            background-color: #303030;
        }
        .form-container {
            margin: 70px auto 0px;
        }
        .divCarousel {
            display: none;
        }
    }
    
    @media screen and (max-width:767px) {
        .login {
            width: 100%;
            height: 100%;
        }
        #login-body {
            background-color: #303030;
        }
        .form-container {
            margin: 10px auto 0px;
        }
        .form-container form {
            margin-bottom: 0px;
        }
        .form-container h1 {
            font-size: 35px;
            line-height: 48px;
        }
        /* inputs */
        .login-input {
            width: 188px;
            padding-left: 20px;
            position: absolute;
        }
        .login-input-container {
            width: 240px;
            height: 52px;
            margin: 32px auto;
        }
        .login-chbox-button-container {
            margin-top: 15px;
        }
        .login-division {
            margin-top: 20px;
        }
        .division-line {
            width: 89px;
            height: 9px;
            border-bottom: 1px solid #FFFFFF;
        }
        .divCarousel {
            display: none;
        }
    }
    /* --------------------------------- MAIN ------------------------------------------ */
    /* ---------------- Header ----------------- */
    
    header {
        height: 120px;
        width: 100%;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
        display: flex;
        position: fixed;
        z-index: 999;
    }
    
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #FFFFFF;
        margin: 30px 40px 30px 40px;
        padding-bottom: 15px;
    }
    
    .burger-menu-icon,
    .header-search {
        display: none;
    }
    
    .header-container p {
        font-size: 28px;
        letter-spacing: 1.74px;
        line-height: 38px;
        text-align: center;
        margin: 0;
    }
    
    .header-searchbar,
    .header-searchbar input {
        width: 362px;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    .header-searchbar input:focus {
        outline: none;
    }
    
    .header-searchbar:focus-within {
        align-self: baseline;
        height: 171px;
    }
    
    .header-searchbar {
        height: 40px;
        background-color: #F1F1F1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition: all 0.6s;
        overflow: hidden;
        align-self: baseline;
    }
    
    .header-searchbar input {
        height: 40px;
        border: none;
        margin-bottom: 1px;
        background-color: transparent;
        box-shadow: none;
        padding: 9px 76px 9px 61px;
    }
    
    .header-searchbar img {
        width: 16px;
        position: absolute;
        left: 20px;
        top: 13px;
    }
    
    .search-suggestions {
        height: 130px;
        border-top: 1px solid #A6A6A6;
        width: 90%;
        padding-top: 10px;
        margin-bottom: 7px;
        display: flex;
        flex-direction: column;
    }
    
    .search-suggestions p {
        font-size: 16px;
        line-height: 22px;
        color: #A6A6A6;
        text-align: left;
        margin-bottom: 15px;
    }
    
    .header-session-details {
        display: flex;
        align-items: center;
    }
    
    .header-session-details a {
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .header-session-details a img {
        height: 12px;
        padding-left: 11px;
        padding-right: 32px;
        border-radius: 0px;
    }
    
    .header-session-details img {
        height: 45px;
        border-radius: 50%;
    }
    /* ---------------- Nav Aside ----------------- */
    
    main {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-aside {
        flex-basis: auto;
        display: inline-block;
        flex-direction: column;
        position: absolute;
        left: 0;
        height: 100%;
        width: 260px;
        margin-top: 120px;
        margin-left: 0;
        padding-top: 33px;
        flex-basis: auto;
        display: flex;
        flex-direction: column;
    }
    
    .nav-header-container,
    .nav-aside #log-out-nav {
        display: none;
    }
    
    .nav-aside ul {
        list-style-type: none;
        padding-left: 40px;
        width: 230px;
        position: relative;
    }
    
    .nav-aside ul li {
        padding-top: 11px;
    }
    
    .nav-aside ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 22px;
        line-height: 30px;
    }
    
    .nav-aside ul li a:visited {
        color: #FFFFFF;
    }
    
    .nav-aside ul li a:active {
        color: #7CD235;
    }
    
    .nav-aside ul li:hover .st0,
    .nav-aside ul li:hover a {
        fill: #7CD235;
        color: #7CD235;
    }
    
    .nav-aside svg {
        height: 16px;
        margin-right: 13px;
    }
    /* ---------------- Main ----------------- */
    
    .game-cards-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        margin-left: 260px;
        margin-top: 120px;
        align-items: flex-start;
    }
    
    .main-headerline-container {
        padding-top: 24px;
        padding-right: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-headerline-container h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 75px;
        margin: 0;
    }
    
    .main-headerline-container p {
        font-size: 18px;
        line-height: 25px;
    }
    
    .main-headerline-container svg {
        width: 40px;
        margin-left: 24px;
    }
    
    .main-display-view {
        cursor: pointer;
    }
    
    .main-display-view:hover rect {
        fill: #7D7D7D;
    }
    
    .main-display-selected rect {
        fill: #515151;
    }
    
    .main-display-not-selected rect {
        fill: #303030;
    }
    
    .game-cards-h-display {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .game-cards-h-display ul {
        list-style-type: none;
        width: 100%;
        margin-right: 40px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .game-cards-h-display ul li {
        background-color: #303030;
        width: calc(100%/3 - 12px);
        border-radius: 10px;
        margin-bottom: 24px;
        cursor: pointer;
    }
    
    .game-card-image img {
        width: 100%;
        height: 204px;
        object-fit: cover;
        object-position: top;
        border-radius: 10px 10px 0 0;
    }
    
    .game-card-info-container {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
    
    .game-card-info-left {
        padding-left: 20px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .game-card-info-left h2 {
        width: 100%;
        margin-bottom: 3px;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
    }
    
    .game-card-p-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 6px;
        height: 19px;
        border-bottom: 1px solid #3D3D3D;
    }
    
    .game-card-p-container p {
        font-size: 12px;
        line-height: 16px;
        color: #939393;
    }
    
    .game-card-info-right {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 20px;
        align-items: right;
        align-content: center;
        justify-content: space-between;
    }
    
    .game-card-consoles {
        margin-top: 10px;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    
    .game-card-consoles svg {
        margin-left: 8px;
    }
    
    .game-card-info-right p {
        margin: 0;
        text-align: right;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #2BB34F;
    }
    
    .game-card-info-right a {
        height: 24px;
        width: 47px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 10px;
        align-self: flex-end;
        position: relative;
    }
    
    .game-card-info-right a figure {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
    }
    
    .game-card-info-right a svg {
        height: 16px;
    }
    
    .game-cards-v-display {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .game-cards-v-display img {
        height: 300px;
    }
    
    .game-cards-v-display ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .game-cards-v-display ul li {
        background-color: #303030;
        width: 697px;
        border-radius: 10px;
        margin-bottom: 24px;
    }
    
    .game-cards-v-display .game-card-info-left {
        padding-left: 40px;
        margin-right: 40px;
        width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    
    .game-cards-v-display .game-card-info-left h2 {
        width: 100%;
        margin-bottom: 17px;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
    }
    
    .game-cards-v-display .game-card-p-container {
        display: flex;
        justify-content: space-between;
        width: 155px;
        height: 19px;
        border-bottom: 1px solid #3D3D3D;
    }
    
    .game-cards-v-display .game-card-p-container p:nth-child(2) {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .game-cards-v-display .game-card-description {
        margin: 20px 74px 30px 39px;
        font-size: 14px;
        line-height: 19px;
    }
    
    .game-cards-v-display .game-card-info-right {
        width: calc(50% - 80px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        padding-right: 20px;
        justify-content: space-between;
    }
    
    .game-cards-v-display .game-card-consoles {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-left: 8px;
    }
    
    .game-card-info-right img {
        height: 13px;
        padding-left: 10px;
    }
    
    .game-cards-v-display .game-card-info-right p {
        margin: 0;
        width: 50%;
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #2BB34F;
        vertical-align: bottom;
    }
    
    .game-cards-v-display .game-card-info-right a {
        height: 24px;
        width: 47px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 10px;
        align-self: flex-end;
        position: relative;
    }
    /* -------------------------------- Modal ----------------------------- */
    
    .modal-black {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.784937);
    }
    
    .modal-container {
        display: flex;
        justify-content: center;
    }
    
    .modal-background-img {
        position: absolute;
        z-index: 999999;
        top: 120px;
        width: 1082px;
    }
    
    .modal-background-img img {
        width: 1082px;
        border-radius: 10px 10px 0 0;
    }
    
    .modal-info {
        border-radius: 10px;
        width: 1082px;
        position: absolute;
        z-index: 999999;
        top: 120px;
        background-image: linear-gradient(#303030be, #303030);
        padding-top: 35px;
        padding-left: 79px;
        padding-right: 91px;
        padding-bottom: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .modal-tags,
    .modal-links-container,
    .modal-description,
    .modal-links-reviews,
    .modal-bottom-links {
        width: 50%;
        margin-right: 60px;
    }
    
    .modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    
    .modal-close svg {
        height: 16px;
        width: 16px;
    }
    
    .modal-logos-container {
        width: 50%;
        margin-bottom: 9px;
        display: flex;
        height: 20px;
    }
    
    .modal-logos {
        margin-right: 12px;
    }
    
    .modal-info h1 {
        width: 100%;
        font-weight: 800;
        font-size: 60px;
        line-height: 82px;
        margin-bottom: 45px;
    }
    
    .modal-tags {
        display: flex;
        margin-bottom: 32px;
    }
    
    .modal-tags p {
        background-color: #FFFFFF;
        font-size: 16px;
        color: #303030;
        margin-right: 20px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 2px;
        text-align: center;
    }
    
    .modal-tags p:nth-child(1) {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 4px;
    }
    
    .bold-green {
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #2BB34F;
        padding-right: 5px;
    }
    
    .modal-links-container a,
    .modal-links-container a:visited {
        display: inline-block;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 10px;
        box-sizing: border-box;
        height: 50px;
        text-align: center;
        padding-top: 8px;
        position: relative;
        margin-right: 20px;
        margin-bottom: 32px;
    }
    
    .modal-links-container strong {
        text-transform: uppercase;
        font-size: 18px;
        text-align: left;
    }
    
    .modal-links-container p {
        text-align: left;
    }
    
    .modal-link-transparent {
        border: 1px solid #979797;
        padding-left: 20px;
        width: 125px;
    }
    
    .modal-plus-symbol {
        position: absolute;
        right: 15px;
        bottom: 8px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    
    .modal-link-green {
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        padding-left: 10px;
        width: 150px;
    }
    
    .modal-link-green svg {
        height: 25px;
        position: absolute;
        right: 10px;
        bottom: 12px;
    }
    
    .modal-description {
        margin-bottom: 32px;
    }
    
    .modal-links-reviews {
        display: flex;
        align-content: center;
    }
    
    .modal-links-reviews a {
        background-color: #515151;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 11px;
        padding-bottom: 12px;
        padding-top: 12px;
        height: 40px;
        width: 140px;
        margin-right: 24px;
        margin-bottom: 32px;
        position: relative;
    }
    
    .modal-links-reviews svg {
        position: absolute;
        right: 9px;
        bottom: 13px;
    }
    
    .modal-links-reviews p {
        margin: 0;
        padding: 0;
    }
    
    .modal-links-reviews strong {
        position: absolute;
        right: 19px;
        top: 3px;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }
    
    .modal-bottom-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 12px;
        line-height: 16px;
        color: #939393;
    }
    
    .modal-bottom-links p {
        margin-bottom: 4px;
    }
    
    .modal-detail-container {
        width: 50%;
        margin-bottom: 20px;
    }
    
    .modal-detail-container p:nth-child(2) {
        color: #FFFFFF;
    }
    
    .modal-detail-link,
    .modal-detail-link:visited {
        color: #FFFFFF;
        text-decoration-line: underline;
        cursor: pointer;
    }
    
    .modal-gallery {
        width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        position: absolute;
        right: 8%;
        top: 190px;
    }
    
    .modal-first-video {
        width: 100%
    }
    
    .modal-image {
        width: calc(100% / 2 - 8px);
        height: 104px;
        margin-top: 16px;
        position: relative;
    }
    
    .modal-last-image {
        width: 100%;
        height: 104px;
    }
    
    .modal-viewMore {
        background: rgba(45, 45, 45, 0.770282);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    
    .modal-viewMore p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 108px;
        width: 100%;
        z-index: 9999999;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    }
    /* ---------------- Main responsive breakpoints ----------------- */
    
    @media screen and (min-width: 1024px) {
        .nav-aside {
            flex-basis: auto;
            display: inline-block;
            flex-direction: column;
            position: fixed;
            left: 0!important;
            height: 100%;
            width: 260px;
            margin-top: 120px;
            margin-left: 0;
            padding-top: 33px;
            flex-basis: auto;
            display: flex;
            flex-direction: column;
        }
    }
    
    @media screen and (min-width:768px) {
        header {
            height: 120px!important;
        }
    }
    
    @media screen and (max-width: 1023px) {
        .header-container p {
            display: none;
        }
        .burger-menu-icon {
            display: inline-block;
            height: 22.5px;
            cursor: pointer;
        }
        .header-session-details a,
        .header-session-details a img {
            display: none;
        }
        .nav-aside {
            position: fixed;
            z-index: 99999999;
            margin-top: 0;
            padding-top: 0;
            height: 100%;
            width: 303px;
            top: 0;
            left: -1000px;
            background-color: #151515;
            box-shadow: 14px 0px 36px 5px rgba(0, 0, 0, 0.62);
            transition: left 0.6s;
        }
        .ul-container {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .nav-header-container {
            display: inline-block;
        }
        .nav-header-container img {
            display: none;
        }
        .nav-aside p {
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 1.74222px;
            margin-top: 34px;
            margin-left: 40px;
            margin-bottom: 7%;
            padding: 0;
        }
        .nav-aside #log-out-nav {
            display: flex;
            margin-left: 40px;
            margin-bottom: 30%;
            height: 40%;
            padding: 0;
            cursor: pointer;
            align-items: flex-end;
        }
        #log-out-nav a {
            display: inline-block;
            font-size: 22px;
            line-height: 30px;
            color: #FFFFFF;
            text-decoration: none;
        }
        #log-out-nav a svg {
            display: inline-block;
            margin: 0;
            padding-left: 0;
            padding-right: 11px;
            border-radius: 0;
        }
        #log-out-nav a:active {
            color: #7CD235;
        }
        #log-out-nav:hover .st0,
        #log-out-nav:hover a {
            fill: #7CD235;
            color: #7CD235;
        }
        .leave-nav {
            position: fixed;
            z-index: 99999998;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: white;
            opacity: 0;
            cursor: pointer;
        }
        .game-cards-container {
            margin-left: 40px;
        }
        .game-cards-h-display ul li {
            width: calc(100%/2 - 12px);
        }
        .game-cards-v-display ul {
            margin-top: 30px;
            margin-right: 40px;
            padding-left: 0;
            align-content: flex-start;
        }
        .game-cards-v-display ul li {
            width: 100%;
        }
        .modal-black {
            display: none;
        }
        .modal-container,
        .modal-background-img,
        .modal-background-img img,
        .modal-info {
            width: 100%;
            z-index: 1;
        }
        .modal-info,
        .modal-background-img img {
            border-radius: 0px;
        }
        .modal-info {
            padding-top: 35px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 65px;
        }
        .modal-close svg {
            height: 25px;
            width: 25px;
        }
        .modal-tags,
        .modal-links-container,
        .modal-description {
            width: 75%;
        }
        .container-for-responsive-display {
            position: relative;
            display: flex;
            justify-content: space-between;
        }
        .modal-links-reviews {
            margin: 0;
            display: flex;
            justify-content: left;
            width: calc(45% - 18px);
        }
        .modal-links-reviews a {
            margin: 0;
        }
        .modal-links-reviews a:nth-child(1) {
            margin-right: 24px;
        }
        .modal-gallery {
            position: static;
            width: 55%;
            margin: 0;
            padding: 0;
        }
        .modal-image {
            height: auto;
        }
        .modal-last-image {
            height: auto;
        }
        .modal-viewMore {
            height: 100%;
            width: 100%;
        }
        .modal-bottom-links {
            width: 45%;
            margin: 0;
            position: absolute;
            top: 72px;
        }
        .modal-detail-container {
            width: calc(50% - 25px);
        }
    }
    
    @media screen and (max-width: 767px) {
        header {
            height: 104px;
            transition: height 0.6s;
            overflow: hidden;
            position: fixed;
            z-index: 99999999;
        }
        .header-session-details,
        .header-searchbar img {
            display: none;
        }
        .header-searchbar,
        .header-searchbar input {
            width: 100%;
        }
        .header-searchbar input {
            text-align: center;
            left: 0;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .header-container {
            height: 104px;
            border-bottom: 0;
            margin: 40px 40px 40px 42px;
            padding-bottom: 0;
            align-items: start;
            flex-wrap: wrap;
            overflow: hidden;
        }
        .header-searchbar {
            margin-top: 23px;
        }
        .header-search {
            display: inline-block;
            cursor: pointer;
        }
        .header-search svg {
            height: 23px;
            padding: 0;
            margin: 0;
        }
        .nav-aside {
            padding: 0;
            position: fixed;
            margin-top: 0;
            padding-top: 0;
            z-index: 99999999;
            height: 100%;
            width: 100%;
            top: 0;
            left: -1000px;
            transition: left 0.6s;
            display: flex;
            flex-direction: column;
        }
        .nav-header-container {
            display: flex;
            justify-content: space-between;
            padding-right: 22px;
            padding-left: 40px;
            margin-top: 34px;
            align-items: baseline;
        }
        .nav-header-container img {
            display: inline-block;
        }
        .nav-aside p {
            margin: 0;
            padding: 0;
            margin-bottom: 81px;
        }
        .game-cards-container {
            margin: 104px auto;
        }
        .main-headerline-container {
            justify-content: center;
            padding: 0;
        }
        .main-headerline-container figure {
            display: none;
        }
        .main-headerline-container div {
            width: 240px;
            padding-top: 24px;
        }
        .main-headerline-container h1 {
            font-weight: 800;
            font-size: 45px;
            line-height: 110%;
            width: 100%;
        }
        .main-headerline-container p {
            margin-top: 25px;
            width: 85%;
        }
        .game-cards-h-display ul {
            margin: 0;
        }
        .game-cards-h-display ul li {
            width: 100%;
            border-radius: 0;
        }
        .game-card-image img {
            border-radius: 0;
            height: 60%;
        }
        .game-card-info-container {
            flex-direction: column;
            align-items: center;
        }
        .game-card-info-left {
            width: 75%;
            padding: 0;
        }
        .game-card-info-right {
            width: 75%;
            padding: 0;
            margin-top: 19.5px;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
        .game-card-p-container {
            width: 100%;
        }
        .modal-info {
            padding-top: 35px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 65px;
        }
        .modal-close svg {
            height: 25px;
            width: 25px;
        }
        .modal-tags,
        .modal-links-container,
        .modal-description {
            width: 75%;
        }
        .container-for-responsive-display {
            position: relative;
            display: flex;
            justify-content: space-between;
        }
        .modal-links-reviews {
            margin: 0;
            display: flex;
            justify-content: left;
            width: calc(45% - 18px);
        }
        .modal-links-reviews a {
            margin: 0;
        }
        .modal-links-reviews a:nth-child(1) {
            margin-right: 24px;
        }
        .modal-gallery {
            position: static;
            width: 55%;
            margin: 0;
            padding: 0;
        }
        .modal-image {
            height: auto;
        }
        .modal-last-image {
            height: auto;
        }
        .modal-viewMore {
            height: 100%;
            width: 100%;
        }
        .modal-bottom-links {
            width: 45%;
            margin: 0;
            position: absolute;
            top: 72px;
        }
        .modal-detail-container {
            width: calc(50% - 25px);
        }
    }