    /* --- general --- */
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
        background-color: #141414;
    }
    /* --- containers --- */
    
    article {
        width: 1083px;
        height: 660px;
        margin: 180px auto 184px;
        display: flex;
    }
    /* form */
    
    #divform {
        height: 660px;
        width: 630px;
        background-color: #303030;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    form {
        margin: 34px auto;
    }
    
    form p {
        font-size: 45px;
        letter-spacing: 2.8px;
        line-height: 61.28px;
        text-align: center;
    }
    
    form p strong {
        font-weight: 800;
    }
    /* inputs */
    
    #txtUser,
    #pass {
        background-color: transparent;
        border: none;
        border-left: 1px solid #8F8F8F;
        font-size: 14px;
        line-height: 19px;
        color: #8F8F8F;
        height: 50px;
        width: 278px;
        padding-left: 20px;
        position: absolute;
    }
    
    #inputPass,
    #inputMail {
        width: 330px;
        height: 52px;
        margin: 20px auto;
        border: 1px solid #8F8F8F;
        box-sizing: border-box;
        border-radius: 8px;
        position: relative;
    }
    
    form img {
        width: 20px;
    }
    
    #inputMail img {
        margin: 16px;
    }
    
    #inputPass span img {
        margin: 22px 15px 21px 16px;
    }
    
    #inputPass a img {
        position: absolute;
        cursor: pointer;
        right: 14px;
        top: 20px;
    }
    
    form input:focus {
        outline-color: #7CD235!important;
    }
    /* checkbox */
    
    #contenedorLogin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
    }
    
    #cbox {
        display: flex;
        align-items: center;
    }
    
    #rememberMe {
        appearance: none;
        background-color: transparent;
        border: 1px solid #8F8F8F;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        display: inline-block;
        position: relative;
    }
    
    #rememberMe:checked {
        background-color: #2BB34F;
        border: 1px solid #7CD235;
    }
    
    #rememberMe:checked:after {
        content: '\2713';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #7CD235;
    }
    
    #cbox label {
        font-size: 14px;
        line-height: 19px;
        color: #8F8F8F;
        padding-left: 10px;
        justify-content: center;
    }
    /* button */
    
    #btnlogin {
        width: 100px;
        height: 40px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
    
    #btnlogin:hover {
        background: linear-gradient(180deg, #2BB34F 0%, #7CD235 100%);
    }
    /* links */
    
    #divLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }
    
    #divLinks a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #divLinks a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #divLinks a:hover {
        color: #7CD235;
    }
    
    #divLinks a:active {
        color: #2BB34F;
    }
    
    #division {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 23px;
    }
    
    #division p {
        width: 61px;
        height: 19px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .line {
        width: 134px;
        height: 9px;
        border-bottom: 1px solid #FFFFFF;
    }
    /* Fb, twitter & google links */
    
    #divFb,
    #divTw,
    #divGg {
        border: none;
        border-radius: 8px;
        box-sizing: border-box;
        height: 40px;
        width: 240px;
        margin-top: 20px;
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #divFb {
        background-color: #263C68;
    }
    
    #divTw {
        background-color: #00ACED;
    }
    
    #divGg {
        background-color: #C7C7C7;
    }
    
    #linkFb,
    #linkTw,
    #linkGg {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        text-decoration: none;
        color: #FFFFFF;
        border-radius: 0 8px 8px 0;
        box-sizing: border-box;
        height: 40px;
        width: 190px;
        padding: 13px 13px 10px 8px;
    }
    
    #linkFb {
        background-color: #3B5998;
    }
    
    #linkTw {
        background-color: #0695CB;
    }
    
    #linkGg {
        background-color: #9D9D9D;
    }
    
    #fbIcon img,
    #twIcon img,
    #ggIcon img {
        padding: 11px 13px 11px 13px;
    }
    /* side image & carousel */
    
    .divCarousel {
        position: relative;
    }
    
    .divCarousel figure img {
        height: 660px;
        border-radius: 0 10px 10px 0;
    }
    
    #ulCarousel {
        margin: 0;
        padding: 0;
        width: 453px;
        position: absolute;
        left: 187px;
        bottom: 48px;
    }
    /* #ulCarousel li {
    list-style-type: none;
    display: inline-block;
} */
    
    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        background-color: #FFFFFF;
        opacity: 30%;
        border-radius: 50%;
        margin: 0 4px;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    
    .active,
    .dot:hover {
        background-color: #FFFFFF;
    }
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @media screen and (max-width:1024px) {
        article {
            width: 100%;
            height: 1024px;
            margin: 0;
            background-color: #303030;
        }
        body {
            background-color: #303030;
        }
        #divform {
            margin: 70px auto 0px;
        }
        .divCarousel {
            display: none;
        }
    }
    
    @media screen and (max-width:767px) {
        article {
            width: 100%;
            height: 100%;
        }
        body {
            background-color: #303030;
        }
        #divform {
            margin: 10px auto 0px;
        }
        #divform form {
            margin-bottom: 0px;
        }
        form p {
            font-size: 35px;
            line-height: 48px;
        }
        /* inputs */
        #txtUser,
        #pass {
            width: 188px;
            padding-left: 20px;
            position: absolute;
        }
        #inputPass,
        #inputMail {
            width: 240px;
            height: 52px;
            margin: 32px auto;
        }
        #contenedorLogin {
            margin-top: 15px;
        }
        #division {
            margin-top: 20px;
        }
        .line {
            width: 89px;
            height: 9px;
            border-bottom: 1px solid #FFFFFF;
        }
        .divCarousel {
            display: none;
        }
    }
    
    header {
        height: 120px;
        /* position: fixed; */
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
        display: flex;
    }
    
    #headerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #FFFFFF;
        margin: 30px 40px 30px 40px;
        padding-bottom: 15px;
    }
    
    #headerContainer p {
        font-size: 28px;
        letter-spacing: 1.74px;
        line-height: 38px;
        text-align: center;
        margin: 0;
    }
    
    #headerContainer p strong {
        font-weight: 800;
    }
    
    #divSearch,
    #divSearch input {
        width: 362px;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    #divSearch {
        height: 40px;
        background-color: #F1F1F1;
        display: flex;
        position: relative;
    }
    
    #divSearch input {
        border: none;
        background-color: transparent;
        box-shadow: none;
        padding: 9px 76px 9px 61px;
    }
    
    #divSearch img {
        width: 16px;
        position: absolute;
        left: 20px;
        bottom: 11px;
    }
    
    #divSesion {
        display: flex;
        align-items: center;
    }
    
    #divSesion a {
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #divSesion a img {
        height: 12px;
        padding-left: 11px;
        padding-right: 32px;
    }
    
    #divSesion img {
        height: 45px;
        border-radius: 50%;
    }
    
    main {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    #navAside {
        flex-basis: auto;
        display: flex;
        flex-direction: column;
    }
    
    #navAside ul {
        list-style-type: none;
        margin-top: 30px;
        width: 230px;
    }
    
    #navAside ul li a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 22px;
        line-height: 30px;
    }
    
    #navAside ul li {
        padding-top: 11px;
    }
    
    #navAside ul li a:visited {
        color: #FFFFFF;
    }
    
    #navAside ul li a:active {
        color: #7CD235;
    }
    
    .linkBold {
        font-weight: 800;
    }
    
    #navAside ul li:hover .st0,
    #navAside ul li:hover a {
        fill: #7CD235;
        color: #7CD235;
    }
    
    #navAside svg {
        height: 16px;
        margin-right: 13px;
    }
    
    #gameCards {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    
    #headline {
        padding-top: 24px;
        padding-right: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    #headline h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 75px;
        margin: 0;
    }
    
    #headline p {
        font-size: 18px;
        line-height: 25px;
    }
    
    #headline svg {
        width: 40px;
        margin-left: 24px;
    }
    
    .displayActive {
        fill: #515151;
    }
    
    #headline svg #displayInctive {
        fill: #303030;
    }
    
    .gameDisplay {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .gameDisplay ul {
        list-style-type: none;
        width: 100%;
        margin-right: 40px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .gameDisplay ul li {
        background-color: #303030;
        width: calc(100%/3 - 24px);
        border-radius: 10px;
        margin-bottom: 24px;
    }
    
    .cardFoto img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    
    .cardInfo {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
    }
    
    .cardText {
        padding-left: 20px;
        width: 186px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
    .cardText h2 {
        width: 100%;
        margin-bottom: 3px;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
    }
    
    .cardText div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 6px;
        height: 19px;
        border-bottom: 1px solid #3D3D3D;
    }
    
    .cardText div p {
        font-size: 12px;
        line-height: 16px;
        color: #939393;
    }
    
    .logoConsolas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 20px;
        align-items: right;
        align-content: center;
        justify-content: space-between;
    }
    
    .logos {
        margin-bottom: 0;
        padding-left: 10px;
    }
    
    .logoConsolas img {
        height: 13px;
        padding-left: 10px;
    }
    
    .logoConsolas p {
        margin: 0;
        text-align: right;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #2BB34F;
    }
    
    .logoConsolas a {
        height: 24px;
        width: 47px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 10px;
        align-self: flex-end;
        position: relative;
    }
    
    .logoConsolas a figure {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
    }
    
    .logoConsolas a svg {
        height: 16px;
    }
    
    .gameOneDisplay {
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .gameOneDisplay ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    
    .gameOneDisplay ul li {
        background-color: #303030;
        width: 697px;
        border-radius: 10px;
        margin-bottom: 24px;
    }
    
    .gameOneDisplay .cardText {
        padding-left: 40px;
        margin-right: 40px;
        width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    
    .gameOneDisplay .cardText h2 {
        width: 100%;
        margin-bottom: 17px;
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 31px;
    }
    
    .gameOneDisplay .cardText div {
        display: flex;
        justify-content: space-between;
        width: 155px;
        height: 19px;
        border-bottom: 1px solid #3D3D3D;
    }
    
    .gameOneDisplay .cardText div p:nth-child(2) {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }
    
    .gameOneDisplay .description {
        margin: 20px 74px 30px 39px;
        font-size: 14px;
        line-height: 19px;
    }
    
    .gameOneDisplay .logoConsolas {
        width: calc(50% - 80px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        padding-right: 20px;
        justify-content: space-between;
    }
    
    .gameOneDisplay .logos {
        width: 100%;
        text-align: right;
        margin-bottom: 0;
        padding-left: 10px;
    }
    
    .logoConsolas img {
        height: 13px;
        padding-left: 10px;
    }
    
    .gameOneDisplay .logoConsolas p {
        margin: 0;
        width: 50%;
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #2BB34F;
        vertical-align: bottom;
    }
    
    .gameOneDisplay .logoConsolas a {
        height: 24px;
        width: 47px;
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        border-radius: 10px;
        align-self: flex-end;
        position: relative;
    }
    
    .modal-black {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.784937);
    }
    
    .modal-container {
        display: flex;
        justify-content: center;
    }
    
    .modal-background {
        position: absolute;
        top: 115px;
        width: 1082px;
    }
    
    .modal-background img {
        width: 1082px;
        border-radius: 10px 10px 0 0;
    }
    
    .modal-info {
        border-radius: 10px;
        width: 1082px;
        position: absolute;
        top: 115px;
        background-image: linear-gradient(#303030be, #303030);
        padding-top: 35px;
        padding-left: 79px;
        padding-right: 91px;
        padding-bottom: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .modal-text {
        width: 50%;
    }
    
    .modal-gallery {
        width: calc(50% - 60px);
        padding-top: 155px;
    }
    
    .modal-info svg {
        height: 16px;
    }
    
    .modal-close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
    
    .modal-contenedor-logos {
        width: 100%;
        margin-bottom: 9px;
    }
    
    .modal-logos {
        height: 20px;
        padding-right: 15px;
    }
    
    .modal-info h1 {
        width: 100%;
        font-weight: 800;
        font-size: 60px;
        line-height: 82px;
        margin-bottom: 45px;
    }
    
    .modal-tags {
        display: flex;
        margin-bottom: 32px;
    }
    
    .modal-tags p {
        background-color: #FFFFFF;
        font-size: 16px;
        color: #303030;
        margin-right: 20px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 2px;
        text-align: center;
    }
    
    .modal-tags p:nth-child(1) {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 4px;
    }
    
    .bold-green {
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #2BB34F;
        padding-right: 5px;
    }
    
    .modal-links a,
    .modal-links a:visited {
        display: inline-block;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 10px;
        box-sizing: border-box;
        height: 50px;
        text-align: center;
        padding-top: 8px;
        position: relative;
        margin-right: 20px;
        margin-bottom: 32px;
    }
    
    .modal-links strong {
        text-transform: uppercase;
        font-size: 18px;
        text-align: left;
    }
    
    .modal-links p {
        text-align: left;
    }
    
    .modal-link-transparent {
        border: 1px solid #979797;
        padding-left: 20px;
        width: 125px;
    }
    
    .modal-plus-symbol {
        position: absolute;
        right: 15px;
        bottom: 8px;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }
    
    .modal-link-green {
        background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
        padding-left: 10px;
        width: 150px;
    }
    
    .modal-link-green svg {
        height: 25px;
        position: absolute;
        right: 10px;
        bottom: 12px;
    }
    
    .modal-description {
        width: 100%;
        margin-bottom: 32px;
    }
    
    .modal-links-reviews {
        display: flex;
        align-content: center;
    }
    
    .modal-links-reviews a {
        background-color: #515151;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 12px;
        line-height: 16px;
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        padding-left: 11px;
        padding-bottom: 12px;
        padding-top: 12px;
        height: 40px;
        width: 140px;
        margin-right: 24px;
        margin-bottom: 32px;
        position: relative;
    }
    
    .modal-links-reviews svg {
        position: absolute;
        right: 9px;
        bottom: 13px;
    }
    
    .modal-links-reviews p {
        margin: 0;
        padding: 0;
    }
    
    .modal-links-reviews strong {
        position: absolute;
        right: 19px;
        top: 3px;
        font-weight: 800;
        font-size: 24px;
        line-height: 33px;
    }
    
    .modal-bottom-links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 16px;
        color: #939393;
    }
    
    .modal-bottom-links p {
        margin-bottom: 4px;
    }
    
    .modal-detail-container {
        margin-bottom: 20px;
        margin-right: 50px;
    }
    
    .modal-detail-link,
    .modal-detail-link:visited {
        color: #FFFFFF;
        text-decoration-line: underline;
        cursor: pointer;
    }
    
    .modal-gallery {
        width: 390px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        position: relative;
    }
    
    .modal-first-video {
        width: 100%
    }
    
    .modal-image {
        width: calc(100% / 2 - 8px);
        height: 104px;
        margin-top: 16px;
        position: relative;
    }
    
    .modal-last-image {
        width: 100%;
        height: 104px;
    }
    
    .modal-viewMore {
        background: rgba(45, 45, 45, 0.770282);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 104px;
        width: 190px;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }
    
    .modal-viewMore p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
    }