     /* --------------------------------- MAIN ------------------------------------------ */
     /* ---------------- Header ----------------- */
     
     header {
         height: 120px;
         width: 100%;
         background: var(--gradient);
         box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
         display: flex;
         position: fixed;
         z-index: 999;
     }
     
     .header-container {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-bottom: 1px solid #FFFFFF;
         margin: 30px 40px 30px 40px;
         padding-bottom: 15px;
     }
     
     .burger-menu-icon,
     .header-search {
         display: none;
     }
     
     .header-container p {
         font-size: 28px;
         letter-spacing: 1.74px;
         line-height: 38px;
         text-align: center;
         margin: 0;
         cursor: pointer;
     }
     
     .header-searchbar,
     .header-searchbar input {
         width: 362px;
         box-sizing: border-box;
         border-radius: 20px;
     }
     
     .header-searchbar input:focus {
         outline: none;
     }
     
     .header-searchbar:focus-within {
         align-self: baseline;
         height: 171px;
     }
     
     .header-searchbar {
         height: 40px;
         background-color: #F1F1F1;
         display: flex;
         flex-direction: column;
         align-items: center;
         position: relative;
         transition: all 0.6s;
         overflow: hidden;
         align-self: baseline;
     }
     
     .header-searchbar input {
         height: 40px;
         border: none;
         margin-bottom: 1px;
         background-color: transparent;
         box-shadow: none;
         padding: 9px 76px 9px 61px;
     }
     
     .header-searchbar img {
         width: 16px;
         position: absolute;
         left: 20px;
         top: 13px;
     }
     
     .search-suggestions {
         height: 130px;
         border-top: 1px solid #A6A6A6;
         width: 90%;
         padding-top: 10px;
         margin-bottom: 7px;
         display: flex;
         flex-direction: column;
     }
     
     .search-suggestions p {
         font-size: 16px;
         line-height: 22px;
         color: var(--searchgrey);
         text-align: left;
         margin-bottom: 15px;
         transition: all 0.3s;
         height: 22px;
         overflow: hidden;
     }
     
     .search-suggestions p:hover {
         font-size: 18px;
         color: #7CD235;
     }
     
     .header-session-details {
         display: flex;
         align-items: center;
     }
     
     .header-session-details a {
         font-size: 14px;
         line-height: 19px;
         color: var(--white);
         text-decoration: none;
         cursor: pointer;
     }
     
     .header-session-details a img {
         height: 12px;
         padding-left: 11px;
         padding-right: 32px;
         border-radius: 0px;
     }
     
     .header-session-details img {
         height: 45px;
         border-radius: 50%;
     }
     /* ---------------- Nav Aside ----------------- */
     
     main {
         width: 100%;
         display: flex;
         justify-content: space-between;
     }
     
     .nav-aside {
         flex-basis: auto;
         display: inline-block;
         flex-direction: column;
         position: absolute;
         left: 0;
         height: 100%;
         width: 260px;
         margin-top: 120px;
         margin-left: 0;
         padding-top: 33px;
         flex-basis: auto;
         display: flex;
         flex-direction: column;
     }
     
     .nav-header-container,
     .nav-aside #log-out-nav {
         display: none;
     }
     
     .nav-aside ul {
         list-style-type: none;
         padding-left: 40px;
         width: 230px;
         position: relative;
     }
     
     .nav-aside ul li {
         padding-top: 11px;
     }
     
     .nav-aside ul li a {
         text-decoration: none;
         color: var(--white);
         font-size: 22px;
         line-height: 30px;
     }
     
     .nav-aside ul li a:visited {
         color: var(--white);
     }
     
     .nav-aside ul li a:active,
     .link-active {
         color: var(--lightgreen)!important;
     }
     
     .nav-aside ul li:hover .st0,
     .nav-aside ul li:hover a {
         fill: var(--lightgreen);
         color: var(--lightgreen);
     }
     
     .nav-aside svg {
         height: 16px;
         margin-right: 13px;
     }
     /* ---------------- Main ----------------- */
     
     .game-cards-container {
         flex: 1;
         display: flex;
         flex-wrap: wrap;
         margin-left: 260px;
         margin-top: 120px;
         align-items: flex-start;
     }
     
     .main-headerline-container {
         padding-top: 24px;
         padding-right: 40px;
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
     }
     
     .main-headerline-container h1 {
         font-weight: 800;
         font-size: 55px;
         line-height: 75px;
         margin: 0;
     }
     
     .main-headerline-container p {
         font-size: 18px;
         line-height: 25px;
     }
     
     .main-headerline-container svg {
         width: 40px;
         margin-left: 24px;
     }
     
     .main-display-view {
         cursor: pointer;
     }
     
     .main-display-view:hover rect {
         fill: #7D7D7D;
     }
     
     .main-display-selected rect {
         fill: #515151;
     }
     
     .main-display-not-selected rect {
         fill: #303030;
     }
     
     .game-cards-h-display {
         width: 100%;
         margin-top: 30px;
         margin-left: 0px;
         padding: 0px;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     
     .game-cards-h-display ul {
         list-style-type: none;
         width: 100%;
         margin-right: 40px;
         padding: 0px;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     
     .game-cards-h-display ul li {
         background-color: var(--darkgrey);
         width: calc(100%/3 - 12px);
         border: none;
         border-radius: 10px;
         margin-bottom: 24px;
         cursor: pointer;
         justify-content: space-between;
     }
     
     .game-card-image {
         height: 205px;
         overflow: hidden;
         margin: 0;
         padding: 0;
     }
     
     .game-card-image img {
         width: 100%;
         min-height: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 10px 10px 0 0;
     }
     
     .game-card-info-container {
         align-self: center;
         display: flex;
         justify-content: space-between;
         box-sizing: border-box;
         margin-top: 10px;
         margin-bottom: 18px;
         width: 90%;
         flex-grow: 1;
     }
     
     .game-card-info-left {
         width: 70%;
         display: flex;
         flex-wrap: wrap;
         align-content: space-between;
     }
     
     .game-card-info-left h2 {
         width: 100%;
         margin-bottom: 3px;
         font-style: normal;
         font-weight: 800;
         font-size: 23px;
         line-height: 31px;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
     
     .game-card-p-container {
         display: flex;
         justify-content: space-between;
         width: 100%;
         height: 20px;
         margin-top: 6.5px;
         border-bottom: 1px solid #3D3D3D;
     }
     
     .game-card-p-container p {
         font-size: 12px;
         line-height: 16px;
         color: #939393;
         height: 16px;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
     
     .game-card-p-container p:nth-child(2) {
         text-align: end;
         width: 60%;
     }
     
     .game-card-info-right {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         align-items: right;
         align-content: center;
         justify-content: space-between;
     }
     
     .game-card-consoles {
         margin-top: 10px;
         margin-bottom: 0;
         display: flex;
         justify-content: flex-end;
         align-content: center;
     }
     
     .game-card-consoles svg {
         margin-left: 8px;
         height: 13px;
         fill: var(--white);
     }
     
     .game-card-info-right p {
         margin: 0;
         text-align: right;
         font-weight: 700;
         font-size: 16px;
         line-height: 22px;
         color: var(--darkgreen);
     }
     
     .game-card-info-right a {
         height: 24px;
         width: 47px;
         background: var(--gradient);
         border-radius: 10px;
         align-self: flex-end;
         position: relative;
     }
     
     .game-card-info-right a figure {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 4px;
     }
     
     .game-card-info-right a svg {
         height: 16px;
     }
     
     .game-cards-v-display {
         width: 100%;
         margin-top: 30px;
         margin-left: 0px;
         padding: 0px;
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
     }
     
     .game-cards-v-display .game-card-image {
         height: 58%;
         overflow: hidden;
     }
     
     .game-cards-v-display img {
         object-fit: cover;
     }
     
     .game-cards-v-display ul {
         list-style-type: none;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-content: center;
         flex-wrap: wrap;
     }
     
     .game-cards-v-display ul li {
         background-color: var(--darkgrey);
         width: 60%;
         border-radius: 10px;
         margin-bottom: 24px;
         cursor: pointer;
     }
     
     .game-cards-v-display .game-card-info-left {
         width: 70%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-content: center;
     }
     
     .game-cards-v-display .game-card-info-left h2 {
         width: 100%;
         margin-bottom: 17px;
         font-style: normal;
         font-weight: 800;
         font-size: 23px;
         line-height: 31px;
     }
     
     .game-cards-v-display .game-card-p-container {
         display: flex;
         justify-content: space-between;
         width: 25%;
         border-bottom: 1px solid #3D3D3D;
     }
     
     .game-cards-v-display .game-card-p-container p {
         width: calc(50% - 8px);
     }
     
     .game-cards-v-display .game-card-p-container p:nth-child(2) {
         font-size: 12px;
         line-height: 16px;
         color: var(--white);
     }
     
     .game-cards-v-display .game-card-p-container {
         flex-grow: 1;
         margin-right: 40px;
     }
     
     .game-cards-v-display .game-card-description {
         margin-left: 5%;
         width: 83%;
         font-size: 14px;
         line-height: 19px;
     }
     
     .game-cards-v-display .game-card-info-right {
         width: calc(50% - 80px);
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         align-content: space-between;
         padding-right: 20px;
         justify-content: space-between;
     }
     
     .game-cards-v-display .game-card-consoles {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         padding-left: 8px;
     }
     
     .game-card-info-right img {
         height: 13px;
         padding-left: 10px;
     }
     
     .game-cards-v-display .game-card-info-right p {
         margin: 0;
         width: 50%;
         text-align: left;
         font-weight: 700;
         font-size: 16px;
         line-height: 22px;
         color: var(--darkgreen);
         vertical-align: bottom;
     }
     
     .game-cards-v-display .game-card-info-right a {
         height: 24px;
         width: 47px;
         background: var(--gradient);
         border-radius: 10px;
         align-self: flex-end;
         position: relative;
     }
     /* -------------------------------- Modal ----------------------------- */
     
     .modal-black {
         position: fixed;
         z-index: 9999;
         top: 0;
         width: 100%;
         height: 100vh;
         background-color: rgba(0, 0, 0, 0.784937);
         display: flex;
         justify-content: center;
         align-items: center;
         flex-wrap: nowrap;
         transition: all 0.6s;
         cursor: pointer;
     }
     
     .modal-container {
         width: 100%;
         display: flex;
         justify-content: center;
         transition: all 0.6s;
         position: relative;
         padding-top: 100px;
         height: 100%;
         background-color: rgba(0, 0, 0, 0);
     }
     
     .modal-background-img {
         z-index: 999997;
         position: fixed;
         left: 12.5%;
         width: 75%;
     }
     
     .modal-background-img img {
         max-height: 790px;
         width: 100%;
         border-radius: 10px 10px 0 0;
         object-fit: cover;
         object-position: top;
     }
     
     .modal-header-container {
         position: fixed;
         height: 145px;
         width: 75%;
         z-index: 999999;
         background-color: #303030be;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         border-radius: 10px 10px 0 0;
         padding-left: 80px;
         cursor: auto;
         overflow: hidden;
     }
     
     .modal-header-container h1 {
         width: 95%;
         height: 80px;
         font-weight: 800;
         font-size: 60px;
         line-height: 82px;
         text-align: left;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
     
     .modal-close {
         position: absolute;
         right: 2%;
         top: 13%;
         cursor: pointer;
     }
     
     .modal-close svg {
         height: 16px;
         width: 16px;
     }
     
     .modal-logos-container {
         width: 50%;
         margin-bottom: 9px;
         display: flex;
         height: 20px;
     }
     
     .modal-logos-container svg {
         margin-right: 15px;
         height: 20px;
         width: 20px;
         fill: var(--white);
     }
     
     .modal-info {
         cursor: auto;
         margin-top: 145px;
         height: 65%;
         border-radius: 0 0 10px 10px;
         width: 75%;
         z-index: 999998;
         background-image: linear-gradient(#303030be, #303030);
         padding-left: 80px;
         padding-top: 44px;
         display: flex;
         flex-wrap: wrap;
         position: fixed;
         overflow: scroll;
         align-content: flex-start;
     }
     
     .modal-description {
         height: 90px;
         overflow: scroll;
     }
     
     .modal-description p {
         margin: 0;
         padding: 0;
     }
     
     .modal-tags,
     .modal-links-container,
     .modal-description,
     .modal-links-reviews,
     .modal-bottom-links {
         width: calc(50% + 10px);
     }
     
     .modal-tags {
         display: flex;
         margin-bottom: 32px;
     }
     
     .modal-tags p {
         background-color: var(--white);
         font-size: 16px;
         color: #303030;
         margin-right: 20px;
         margin-bottom: 0;
         padding-left: 8px;
         padding-right: 8px;
         padding-bottom: 2px;
         text-align: center;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
     
     .modal-tags p:nth-child(1) {
         padding-right: 15px;
         padding-left: 15px;
         padding-top: 4px;
     }
     
     .bold-green {
         font-weight: 800;
         font-size: 20px;
         line-height: 27px;
         color: var(--darkgreen);
         padding-right: 5px;
     }
     
     .modal-links-container a,
     .modal-links-container a:visited {
         display: inline-block;
         font-size: 12px;
         line-height: 17px;
         color: var(--white);
         text-decoration: none;
         border-radius: 10px;
         box-sizing: border-box;
         height: 50px;
         text-align: center;
         padding-top: 8px;
         position: relative;
         margin-right: 20px;
         margin-bottom: 32px;
     }
     
     .modal-links-container strong {
         text-transform: uppercase;
         font-size: 18px;
         text-align: left;
     }
     
     .modal-links-container p {
         text-align: left;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
     }
     
     .modal-link-transparent {
         border: 1px solid #979797;
         padding-left: 20px;
         width: 125px;
     }
     
     .modal-plus-symbol {
         position: absolute;
         right: 15px;
         bottom: 8px;
         margin-bottom: 0;
         font-weight: 700;
         font-size: 24px;
         line-height: 33px;
     }
     
     .modal-link-green {
         background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
         padding-left: 10px;
         width: 150px;
     }
     
     .modal-link-green svg {
         height: 25px;
         position: absolute;
         right: 10px;
         bottom: 12px;
     }
     
     .container-for-responsive-display {
         position: static;
         width: 100%;
         padding: 0;
         margin: 0;
     }
     
     .modal-links-reviews {
         display: flex;
         align-content: center;
         margin-top: 32px;
     }
     
     .modal-links-reviews a {
         background-color: #515151;
         border-radius: 10px;
         color: var(--white);
         font-size: 12px;
         line-height: 16px;
         text-decoration: none;
         display: inline-block;
         box-sizing: border-box;
         padding-left: 11px;
         padding-bottom: 12px;
         padding-top: 12px;
         width: 140px;
         margin-right: 24px;
         margin-bottom: 32px;
         position: relative;
     }
     
     .modal-links-reviews svg {
         position: absolute;
         right: 9px;
         bottom: 13px;
     }
     
     .modal-links-reviews p {
         margin: 0;
         padding: 0;
     }
     
     .modal-links-reviews strong {
         position: absolute;
         right: 19px;
         top: 3px;
         font-weight: 800;
         font-size: 24px;
         line-height: 33px;
     }
     
     .modal-bottom-links {
         display: flex;
         flex-wrap: wrap;
         align-content: flex-start;
         font-size: 12px;
         line-height: 16px;
         color: #939393;
     }
     
     .modal-bottom-links p {
         margin-bottom: 4px;
     }
     
     .modal-detail-container {
         width: 50%;
         margin-bottom: 20px;
     }
     
     .modal-detail-container p:nth-child(2) {
         color: var(--white);
     }
     
     .modal-detail-link,
     .modal-detail-link:visited {
         color: var(--white);
         text-decoration-line: underline;
         cursor: pointer;
     }
     
     .modal-gallery {
         width: 36%;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-content: flex-start;
         position: absolute;
         right: 6%;
         top: 44px;
     }
     
     .modal-first-video {
         width: 100%
     }
     
     .modal-image {
         width: calc(100% / 2 - 8px);
         height: 104px;
         margin-top: 16px;
         position: relative;
         object-fit: cover;
         object-position: top;
     }
     
     .modal-last-image {
         width: 100%;
         height: 104px;
     }
     
     .modal-viewMore {
         background: rgba(45, 45, 45, 0.770282);
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-content: center;
         height: 100%;
         width: 100%;
         position: absolute;
         right: 0;
         bottom: 0;
         cursor: pointer;
     }
     
     .modal-viewMore p {
         width: 100%;
         text-align: center;
         font-size: 12px;
         line-height: 16px;
         margin: 0;
     }
     
     footer {
         position: fixed;
         bottom: 0;
         height: 108px;
         width: 100%;
         z-index: 9999999;
         background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
     }
     /* ---------------- Main responsive breakpoints ----------------- */
     
     @media screen and (min-width: 1024px) {
         .nav-aside {
             flex-basis: auto;
             display: inline-block;
             flex-direction: column;
             position: fixed;
             left: 0!important;
             height: 100%;
             width: 260px;
             margin-top: 120px;
             margin-left: 0;
             padding-top: 33px;
             flex-basis: auto;
             display: flex;
             flex-direction: column;
         }
     }
     
     @media screen and (min-width:768px) {
         header {
             height: 120px!important;
         }
         .header-container {
             overflow: visible!important;
         }
     }
     
     @media screen and (max-width: 1199px) {
         .game-cards-h-display ul li {
             width: calc(100%/2 - 12px);
         }
     }
     
     @media screen and (max-width: 1023px) {
         .header-title {
             display: none;
         }
         .burger-menu-icon {
             display: inline-block;
             height: 22.5px;
             cursor: pointer;
         }
         .header-session-details a,
         .header-session-details a img {
             display: none;
         }
         .nav-aside {
             position: fixed;
             z-index: 99999999;
             margin-top: 0;
             padding-top: 0;
             height: 100%;
             width: 303px;
             top: 0;
             left: -1000px;
             background-color: #151515;
             box-shadow: 14px 0px 36px 5px rgba(0, 0, 0, 0.62);
             transition: left 0.6s;
         }
         .ul-container {
             height: 100%;
             display: flex;
             flex-direction: column;
         }
         .nav-header-container {
             display: inline-block;
         }
         .nav-header-container img {
             display: none;
         }
         .nav-aside p {
             font-size: 28px;
             line-height: 38px;
             letter-spacing: 1.74222px;
             margin-top: 34px;
             margin-left: 40px;
             margin-bottom: 7%;
             padding: 0;
         }
         .nav-aside #log-out-nav {
             display: flex;
             margin-left: 40px;
             margin-bottom: 30%;
             height: 40%;
             padding: 0;
             cursor: pointer;
             align-items: flex-end;
         }
         #log-out-nav a {
             display: inline-block;
             font-size: 22px;
             line-height: 30px;
             color: #FFFFFF;
             text-decoration: none;
         }
         #log-out-nav a svg {
             display: inline-block;
             margin: 0;
             padding-left: 0;
             padding-right: 11px;
             border-radius: 0;
         }
         #log-out-nav a:active {
             color: #7CD235;
         }
         #log-out-nav:hover .st0,
         #log-out-nav:hover a {
             fill: #7CD235;
             color: #7CD235;
         }
         .leave-nav {
             position: fixed;
             z-index: 99999998;
             top: 0;
             width: 100%;
             height: 100vh;
             background-color: white;
             opacity: 0;
             cursor: pointer;
         }
         .game-cards-container {
             margin-left: 40px;
         }
         .game-cards-v-display ul {
             margin-top: 30px;
             margin-right: 40px;
             padding-left: 0;
             align-content: flex-start;
         }
         .game-cards-v-display ul li {
             width: 100%;
         }
         .modal-black {
             background-color: transparent;
         }
         .modal-container,
         .modal-background-img,
         .modal-header-container {
             position: fixed;
             top: 120px;
             width: 100%;
             left: 0;
         }
         .modal-background-img img {
             border-radius: 0;
             height: 100%;
             object-fit: cover;
         }
         .modal-header-container {
             width: 100%;
             border-radius: 0;
             padding-left: 30px;
             padding-top: 40px;
             cursor: auto;
             overflow: scroll;
             justify-content: flex-start;
         }
         .modal-header-container h1 {
             margin-bottom: 0;
             padding-bottom: 0;
             text-overflow: ellipsis;
         }
         .modal-close {
             position: absolute;
             right: 2%;
             top: 40px;
             cursor: pointer;
         }
         .modal-close svg {
             height: 25px;
             width: 25px;
         }
         .modal-tags {
             height: 27px;
             width: 100%;
         }
         .modal-tags p {
             height: 27px;
             text-overflow: ellipsis;
         }
         .modal-info {
             z-index: 999998;
             cursor: auto;
             height: 100%;
             width: 100%;
             padding-left: 30px;
             top: 265px;
             padding-top: 44px;
             margin-top: 0;
             align-content: flex-start;
         }
         .modal-links-container,
         .modal-description {
             width: 75%;
         }
         .container-for-responsive-display {
             margin-top: 32px;
             position: relative;
             display: flex;
             flex-wrap: wrap;
             align-content: flex-start;
             height: 130%;
             margin-bottom: 20px;
         }
         .modal-links-reviews {
             margin: 0;
             display: flex;
             justify-content: left;
             width: 100%;
             height: 40px;
         }
         .modal-links-reviews a {
             margin: 0;
         }
         .modal-links-reviews a:nth-child(1) {
             margin-right: 24px;
         }
         .modal-gallery {
             position: absolute;
             width: 50%;
             top: 0;
             right: 30px;
         }
         .modal-image {
             height: auto;
         }
         .modal-last-image {
             height: auto;
         }
         .modal-viewMore {
             height: 100%;
             width: 100%;
         }
         .modal-bottom-links {
             width: calc(45% - 18px);
             overflow-wrap: break-word;
             margin-top: 32px;
         }
     }
     
     @media screen and (max-width: 767px) {
         header {
             height: 104px;
             transition: height 0.6s;
             overflow: hidden;
             position: fixed;
             z-index: 99999999;
         }
         .header-session-details,
         .header-searchbar img {
             display: none;
         }
         .header-searchbar,
         .header-searchbar input {
             width: 100%;
             text-align: center;
         }
         .header-container {
             height: 104px;
             border-bottom: 0;
             margin: 40px 40px 40px 42px;
             padding-bottom: 0;
             align-items: start;
             flex-wrap: wrap;
             overflow: hidden;
             transition: all 0.6s;
         }
         .header-container svg path {
             fill: var(--white);
         }
         .header-searchbar {
             margin-top: 23px;
         }
         .header-search {
             display: inline-block;
             cursor: pointer;
         }
         .header-search svg {
             height: 23px;
             padding: 0;
             margin: 0;
         }
         .nav-aside {
             padding: 0;
             position: fixed;
             margin-top: 0;
             padding-top: 0;
             z-index: 99999999;
             height: 100%;
             width: 100%;
             top: 0;
             left: -1000px;
             transition: left 0.6s;
             display: flex;
             flex-direction: column;
         }
         .nav-header-container {
             display: flex;
             justify-content: space-between;
             padding-right: 22px;
             padding-left: 40px;
             margin-top: 34px;
             align-items: baseline;
         }
         .nav-header-container img {
             display: inline-block;
         }
         .nav-aside p {
             margin: 0;
             padding: 0;
             margin-bottom: 81px;
         }
         .game-cards-container {
             margin: 104px auto;
         }
         .main-headerline-container {
             justify-content: center;
             padding: 0;
         }
         .main-headerline-container figure {
             display: none;
         }
         .main-headerline-container div {
             width: 240px;
             padding-top: 24px;
         }
         .main-headerline-container h1 {
             font-weight: 800;
             font-size: 45px;
             line-height: 110%;
             width: 100%;
         }
         .main-headerline-container p {
             margin-top: 25px;
             width: 85%;
         }
         .game-cards-h-display ul {
             margin: 0;
         }
         .game-cards-h-display ul li {
             width: 100%;
             border-radius: 0;
             height: auto;
         }
         .game-card-image {
             height: 51%;
         }
         .game-card-image img {
             border-radius: 0;
             object-fit: cover;
         }
         .game-card-info-container {
             flex-direction: column;
             align-items: center;
             justify-content: center;
         }
         .game-card-info-left {
             width: 75%;
             padding: 0;
         }
         .game-card-info-right {
             width: 75%;
             padding: 0;
             margin-top: 19.5px;
             flex-direction: row;
             justify-content: space-between;
             align-items: baseline;
         }
         .game-card-p-container {
             width: 100%;
         }
         .game-card-description {
             display: none;
         }
         .modal-container,
         .modal-background-img,
         .modal-header-container {
             top: 104px;
         }
         .modal-header-container {
             padding-left: 30px;
             padding-top: 26px;
         }
         .modal-close {
             position: absolute;
             right: 40px;
             top: 26px;
             cursor: pointer;
         }
         .modal-info {
             z-index: 999998;
             cursor: auto;
             height: 100%;
             width: 100%;
             padding-left: 40px;
             padding-right: 40px;
             top: 249px;
             padding-top: 36px;
             margin-top: 0;
             overflow: scroll;
             justify-content: space-between;
         }
         .modal-tags,
         .modal-links-container {
             width: calc(100%/2 - 12px);
         }
         .modal-tags {
             flex-direction: column;
             align-items: center;
             justify-content: space-between;
             margin-bottom: 0;
         }
         .modal-tags p {
             padding-left: 3px;
             padding-right: 3px;
             margin-bottom: 15px;
             width: 125px;
             box-sizing: border-box;
         }
         .modal-tags p:last-child {
             margin-bottom: 0;
         }
         .modal-links-container {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
         }
         .modal-links-container a,
         .modal-links-container a:visited {
             margin-bottom: 10px;
             margin-right: 0;
         }
         .modal-link-transparent,
         .modal-link-green {
             width: 108px;
         }
         .modal-link-green svg {
             display: none;
         }
         .modal-description {
             width: 100%;
             margin-top: 32px;
         }
         .container-for-responsive-display {
             height: 100%;
             width: 100%;
             justify-content: center;
         }
         .modal-links-reviews {
             flex-wrap: wrap;
             height: auto;
             justify-self: center;
             justify-content: center;
             align-items: baseline;
             width: 100%;
         }
         .modal-links-reviews a {
             width: 240px;
             height: 40px;
             margin-right: 24px;
             justify-content: center;
             align-items: baseline;
             text-align: center;
         }
         .modal-links-reviews a:nth-child(2) {
             padding-top: 3px;
             padding-bottom: 0;
         }
         .modal-links-reviews a svg {
             position: static;
             margin-left: 15px;
         }
         .modal-links-reviews a strong {
             position: static;
             margin-left: 15px;
         }
         .modal-links-reviews a p {
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .modal-links-reviews a:first-child {
             margin-bottom: 24px;
         }
         .modal-gallery {
             position: static;
             margin-top: 32px;
             width: 100%;
         }
         .modal-bottom-links {
             width: 100%;
             height: 100%;
             align-content: flex-start;
             margin-top: 32px;
         }
         .modal-bottom-links div {
             width: 100%;
         }
     }
     
     .loader {
         height: 80px;
         margin: 20px auto;
     }
     
     .fetch-error {
         display: flex;
         margin: 20px auto;
         align-items: center;
         font-size: 18px;
     }
     
     .fetch-error img {
         height: 180px;
     }